/* Color Variables */
/* Button Variables */
/* Font Variables */
/* Color Variables */
/* Button Variables */
/* Font Variables */
/* Color Variables */
/* Button Variables */
/* Font Variables */
.sitenav__wrap {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-family: "Dosis-SemiBold";
}
.sitenav__linklist {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sitenav__linkitem {
  text-transform: capitalize;
  color: #ffffff;
  transition: 0.4s;
}
.sitenav__linkitem a {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 12px;
  padding: 7px 0;
  position: relative;
}
.sitenav__linkitem a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  transition: 0.4s;
  border-bottom: 2px solid #ffffff;
  margin: auto;
}
.sitenav__linkitem a:hover:after {
  width: 100%;
}
.sitenav__linkitem.active a:after {
  width: 100%;
}
.sitenav.sticky .sitenav__linkitem a:after {
  border-bottom: 2px solid #000000;
}

@media only screen and (max-width: 768px) {
  .sitenav__linkitem a {
    padding: 12px 0;
  }
}
/* Color Variables */
/* Button Variables */
/* Font Variables */
.sitenav {
  padding: 22px 0px;
  transition: all 0.5s ease-in-out;
}
.sitenav__logo {
  width: 180px;
}
.sitenav .logo-dark {
  display: none;
}
.sitenav.sticky {
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}
.sitenav.sticky .sitenav__linkitem {
  color: #000000;
}
.sitenav.sticky .logo-dark {
  display: block;
}
.sitenav.sticky .logo-light {
  display: none;
}

@media only screen and (max-width: 768px) {
  .sitenav {
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    padding: 16px 0px;
  }
  .sitenav__links {
    position: fixed;
    top: 70px;
    left: 100%;
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh - 70px);
    transition: 0.5s;
  }
  .sitenav__links.active {
    left: 0;
  }
  .sitenav__linklist {
    max-width: 720px;
    display: block;
    margin: 0 auto;
  }
  .sitenav__linkitem {
    color: #000000;
  }
  .sitenav__linkitem.active a:after {
    border-bottom: 2px solid #000000;
  }
  .sitenav .logo-dark {
    display: block;
  }
  .sitenav .logo-light {
    display: none;
  }
  .sitenav .btn-login {
    margin-left: auto;
  }
  .sitenav__hamburger {
    width: 30px;
    height: 24px;
    position: relative;
  }
  .sitenav__hamburger .hamburger-inner, .sitenav__hamburger .hamburger-inner::before, .sitenav__hamburger .hamburger-inner::after {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #0E64C8;
    transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .sitenav__hamburger .hamburger-inner::before, .sitenav__hamburger .hamburger-inner::after {
    content: "";
  }
  .sitenav__hamburger .hamburger-inner::before {
    top: 10px;
    width: 20px;
    right: 0px;
  }
  .sitenav__hamburger .hamburger-inner::after {
    top: 20px;
  }
  .sitenav__hamburger.active .hamburger-inner, .sitenav__hamburger.active .hamburger-inner::before, .sitenav__hamburger.active .hamburger-inner::after {
    background-color: transparent;
  }
  .sitenav__hamburger.active .hamburger-inner::before {
    width: 100%;
    top: 0;
    transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
    transform: translate3d(0, 10px, 0) rotate(45deg);
    background-color: #5aa2f0;
  }
  .sitenav__hamburger.active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
    transform: translate3d(0, 10px, 0) rotate(-45deg);
    background-color: #5aa2f0;
  }
}
@media only screen and (max-width: 576px) {
  .sitenav__logo {
    width: 120px;
  }
}
/* Color Variables */
/* Button Variables */
/* Font Variables */
.modal-backdrop {
  background: rgba(242, 246, 250, 0.83);
}
.modal-backdrop.show {
  opacity: 1;
}
.modal-content {
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-header, .modal-body, .modal-footer {
  padding: 10px;
}
.modal-header {
  background-color: #5aa2f0;
  color: #ffffff;
}
.modal-title {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-family: "Dosis-Bold";
  font-size: 16px;
  text-transform: capitalize;
}
.modal-title .feather {
  width: 20px;
  height: 20px;
}
.modal .close {
  color: #ffffff;
  opacity: 1;
  font-size: 22px;
  text-shadow: none;
}
.modal-open .site-wrap {
  filter: blur(3px);
}

/* Color Variables */
/* Button Variables */
/* Font Variables */
.home-bg, .home-bg1 {
  background-color: #5aa2f0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0e64c8+0,5aa2f0+100 */
  background: #0e64c8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0e64c8 0%, #5aa2f0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0e64c8 0%, #5aa2f0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0e64c8 0%, #5aa2f0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
  height: 100vh;
  position: relative;
}
.home-bg:before, .home-bg1:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-bg .container, .home-bg1 .container {
  height: 100%;
}
.home-bg .section-content, .home-bg1 .section-content {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 100%;
  z-index: 1;
  flex-direction: column;
  position: relative;
  max-width: 650px;
}
.home-bg #particles-js, .home-bg1 #particles-js,
.home-bg .particles-js-canvas-el,
.home-bg1 .particles-js-canvas-el {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.home-bg .header__title, .home-bg1 .header__title {
  font-family: "Dosis-Bold";
  font-size: 48px;
  letter-spacing: 1px;
}
.home-bg .header__subtitle, .home-bg1 .header__subtitle {
  font-size: 18px;
  margin: 20px 0;
}
.home-bg .header__form, .home-bg1 .header__form {
  width: 100%;
}
.home-bg .pro__condition, .home-bg1 .pro__condition {
  margin-top: 20px;
}
.home-bg .pro__condition .link-list, .home-bg1 .pro__condition .link-list {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.home-bg .pro__condition .link-list li:not(:last-child), .home-bg1 .pro__condition .link-list li:not(:last-child) {
  margin-right: 15px;
}
.home-bg .pro__condition .link-list li a, .home-bg1 .pro__condition .link-list li a {
  padding: 8px 0;
  display: inline-block;
}

.home-bg1 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0e64c8+0,5aa2f0+100 */
  background: #0e64c8;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0e64c8 0%, #5aa2f0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0e64c8 0%, #5aa2f0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0e64c8 0%, #5aa2f0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
}

@media only screen and (max-width: 768px) {
  .home-bg .header__title, .home-bg1 .header__title {
    font-size: 38px;
  }
}
@media only screen and (max-width: 576px) {
  .home-bg .header__title, .home-bg1 .header__title {
    font-size: 28px;
  }
}
/* Color Variables */
/* Button Variables */
/* Font Variables */
.about-bg .feature .icon {
  width: 50px;
  height: 50px;
}
.about-bg .title {
  font-family: "Dosis-SemiBold";
  color: #5aa2f0;
  font-size: 20px;
  text-transform: capitalize;
}
.about-bg .text {
  font-size: 18px;
}

/* Color Variables */
/* Button Variables */
/* Font Variables */
.feature-bg .feature__img {
  border: 10px solid #ffffff;
}

@media only screen and (max-width: 768px) {
  .feature-bg .row:nth-child(even) {
    flex-direction: column-reverse;
  }
  .feature-bg .feature__img {
    margin-top: 15px;
    border: 5px solid #ffffff;
  }
  .feature-bg .feature__title {
    font-size: 24px;
  }
}
/* Color Variables */
/* Button Variables */
/* Font Variables */
.contact-bg {
  background-color: #5aa2f0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0e64c8+0,5aa2f0+100 */
  background: #0e64c8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0e64c8 0%, #5aa2f0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0e64c8 0%, #5aa2f0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0e64c8 0%, #5aa2f0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.contact-bg:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contact-bg.section-roll {
  min-height: calc(100vh - 155px);
}
.contact-bg .section-content .section__title, .contact-bg .section-content .section__text {
  color: #ffffff;
}
.contact-bg .contactus {
  margin: 0 auto;
}
.contact-bg .contact__text {
  color: #ffffff;
}
.contact-bg .contact__address {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* Color Variables */
/* Button Variables */
/* Font Variables */
.login-bg {
  background: radial-gradient(circle at 50% 50%, rgba(80, 110, 250, 0.1) 0%, rgba(80, 110, 250, 0.1) 33.333%, rgba(80, 110, 250, 0.3) 33.333%, rgba(80, 110, 250, 0.3) 66.666%, rgba(80, 110, 250, 0.5) 66.666%, rgba(80, 110, 250, 0.5) 99.999%);
}

/* Color Variables */
/* Button Variables */
/* Font Variables */
.custom-tooltip {
  position: relative;
}

[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px);
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: rgba(14, 100, 200, 0.9);
  background-image: linear-gradient(30deg, rgba(59, 72, 80, 0.44), rgba(59, 68, 75, 0.44), rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: "";
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  border-color: rgba(14, 100, 200, 0.9) transparent transparent transparent;
  transition-duration: 0s;
  /* If the mouse leaves the element, the transition effects for the tooltip arrow are "turned off" */
  transform-origin: top;
  /* Orientation setting for the slide-down effect */
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, -5px) scale(1);
}

/* Slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
  transition-delay: 0.5s;
  /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location=left]:before,
[data-tooltip-location=left]:after {
  left: auto;
  right: calc(100% + 5px);
  bottom: 50%;
}

/* Tooltip */
[data-tooltip-location=left]:before {
  transform: translate(-5px, 50%) scale(0.5);
}

[data-tooltip-location=left]:hover:before {
  transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
[data-tooltip-location=left]:after {
  border-width: 5px 0px 5px 5px;
  border-color: transparent transparent transparent rgba(47, 99, 122, 0.9);
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}

[data-tooltip-location=left]:hover:after {
  transform: translateY(50%) scaleX(1);
}

/* RIGHT */
[data-tooltip-location=right]:before,
[data-tooltip-location=right]:after {
  left: calc(100% + 5px);
  bottom: 50%;
}

[data-tooltip-location=right]:before {
  transform: translate(5px, 50%) scale(0.5);
}

[data-tooltip-location=right]:hover:before {
  transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location=right]:after {
  border-width: 5px 5px 5px 0px;
  border-color: transparent rgba(47, 99, 122, 0.9) transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}

[data-tooltip-location=right]:hover:after {
  transform: translateY(50%) scaleX(1);
}

/* BOTTOM */
[data-tooltip-location=bottom]:before,
[data-tooltip-location=bottom]:after {
  top: calc(100% + 5px);
  bottom: auto;
}

[data-tooltip-location=bottom]:before {
  transform: translate(-50%, 5px) scale(0.5);
}

[data-tooltip-location=bottom]:hover:before {
  transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location=bottom]:after {
  border-width: 0px 5px 5px 5px;
  border-color: transparent transparent rgba(47, 99, 122, 0.9) transparent;
  transform-origin: bottom;
}

@font-face {
  font-family: "Dosis-Medium";
  src: url("../assets/fonts/Dosis-Medium.eot");
  src: url("../assets/fonts/Dosis-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-Medium.woff2") format("woff2"), url("../assets/fonts/Dosis-Medium.woff") format("woff"), url("../assets/fonts/Dosis-Medium.ttf") format("truetype"), url("../assets/fonts/Dosis-Medium.svg#Dosis-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-ExtraBold";
  src: url("../assets/fonts/Dosis-ExtraBold.eot");
  src: url("../assets/fonts/Dosis-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Dosis-ExtraBold.woff") format("woff"), url("../assets/fonts/Dosis-ExtraBold.ttf") format("truetype"), url("../assets/fonts/Dosis-ExtraBold.svg#Dosis-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-Bold";
  src: url("../assets/fonts/Dosis-Bold.eot");
  src: url("../assets/fonts/Dosis-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-Bold.woff2") format("woff2"), url("../assets/fonts/Dosis-Bold.woff") format("woff"), url("../assets/fonts/Dosis-Bold.ttf") format("truetype"), url("../assets/fonts/Dosis-Bold.svg#Dosis-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-SemiBold";
  src: url("../assets/fonts/Dosis-SemiBold.eot");
  src: url("../assets/fonts/Dosis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-SemiBold.woff2") format("woff2"), url("../assets/fonts/Dosis-SemiBold.woff") format("woff"), url("../assets/fonts/Dosis-SemiBold.ttf") format("truetype"), url("../assets/fonts/Dosis-SemiBold.svg#Dosis-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-Light";
  src: url("../assets/fonts/Dosis-Light.eot");
  src: url("../assets/fonts/Dosis-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-Light.woff2") format("woff2"), url("../assets/fonts/Dosis-Light.woff") format("woff"), url("../assets/fonts/Dosis-Light.ttf") format("truetype"), url("../assets/fonts/Dosis-Light.svg#Dosis-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-Regular";
  src: url("../assets/fonts/Dosis-Regular.eot");
  src: url("../assets/fonts/Dosis-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-Regular.woff2") format("woff2"), url("../assets/fonts/Dosis-Regular.woff") format("woff"), url("../assets/fonts/Dosis-Regular.ttf") format("truetype"), url("../assets/fonts/Dosis-Regular.svg#Dosis-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-ExtraLight";
  src: url("../assets/fonts/Dosis-ExtraLight.eot");
  src: url("../assets/fonts/Dosis-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Dosis-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Dosis-ExtraLight.woff") format("woff"), url("../assets/fonts/Dosis-ExtraLight.ttf") format("truetype"), url("../assets/fonts/Dosis-ExtraLight.svg#Dosis-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
/* Color Variables */
/* Button Variables */
/* Font Variables */
.footer-bg {
  position: relative;
  background-color: #5aa2f0;
  background-color: #073469;
  color: #d4e2f3;
  font-size: 18px;
}
.footer-bg:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer-bg .footer__img {
  width: 180px;
  margin: 0 auto;
}
.footer-bg .footer__bar .bar-wrap,
.footer-bg .footer__bar .terms-service {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-transform: capitalize;
}
.footer-bg .footer__bar .terms-service li + li {
  margin-left: 20px;
}
.footer-bg .footer__bar .terms-service a {
  display: block;
  padding: 5px 0;
}

@media only screen and (max-width: 768px) {
  .footer-bg .footer__bar .bar-wrap {
    flex-direction: column;
  }
  .footer-bg .footer__bar .bar-wrap > p {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .footer-bg .footer__bar .terms-service {
    font-size: 16px;
  }
}
/* Color Variables */
/* Button Variables */
/* Font Variables */
.form-control {
  padding: 22px 12px;
  background-color: #073469;
  border: 1px solid #073469;
  transition: 0.2s;
  color: #ffffff;
}
.form-control::placeholder {
  color: rgba(90, 162, 240, 0.5);
}
.form-control:focus {
  background-color: #073469;
  border: 1px solid #073469;
  color: #ffffff;
  box-shadow: none;
}
.form-control--highlight {
  color: #E9922C;
  font-family: "Dosis-SemiBold";
  font-size: 14px;
}
.form-control--highlight:focus {
  color: #E9922C;
}

.static-info {
  font-size: 18px;
}
.static-info ul,
.static-info ol,
.static-info p {
  margin-bottom: 10px;
  line-height: 1.4;
}
.static-info ul {
  padding-inline-start: 40px;
  list-style: disc;
}
.static-info li {
  margin-bottom: 15px;
}
.static-info a {
  font-family: "Dosis-SemiBold";
  color: #E9922C;
}
.static-info .title {
  font-family: "Dosis-Bold";
  font-size: 18px;
  margin-bottom: 10px;
}
.static-info .custom-list {
  list-style: none;
  padding-inline-start: 0px;
}
.static-info .custom-list li {
  position: relative;
  padding-inline-start: 40px;
}
.static-info .custom-list .feather {
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  color: #5aa2f0;
}

@media only screen and (max-width: 768px) {
  .static-info {
    font-size: 16px;
  }
}
/* Color Variables */
/* Button Variables */
/* Font Variables */
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Dosis-Regular";
}
body.home {
  background-color: #5aa2f0;
}

.site-content {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Dosis-SemiBold";
  min-width: 125px;
  padding: 4px 8px;
  cursor: pointer;
  text-transform: capitalize;
}
button:hover {
  color: inherit;
}
button:focus {
  outline: none;
}
button.btn:focus {
  box-shadow: none;
}
button.btn-icon {
  min-width: auto;
  border: none;
  background: transparent;
}
button.btn-icon .feather {
  margin-right: 0px;
}

.btn-primary {
  background-color: #5AA2F0;
  border: 1px solid #5AA2F0;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #2b88ec;
  border: 1px solid #2b88ec;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #5AA2F0;
  color: #5aa2f0;
}
.btn-secondary:hover {
  background-color: #2b88ec;
  border: 1px solid #2b88ec;
}

.btn-orange {
  background-color: #E9922C;
  border: 1px solid #E9922C;
  color: #ffffff;
}
.btn-orange:hover {
  background-color: #cd7815;
  border: 1px solid #cd7815;
  color: #ffffff;
}

.btn-success {
  background-color: #05C953;
  border: 1px solid #05C953;
  color: #ffffff;
}
.btn-success:hover {
  background-color: #04973e;
  border: 1px solid #04973e;
  color: #ffffff;
}

.btn-danger {
  background-color: #ED0F0F;
  border: 1px solid #ED0F0F;
  color: #ffffff;
}
.btn-danger:hover {
  background-color: #bd0c0c;
  border: 1px solid #bd0c0c;
  color: #ffffff;
}

.btn-dark-primary {
  background-color: #0E64C8;
  border: 1px solid #0E64C8;
  color: #ffffff;
}
.btn-dark-primary:hover {
  background-color: #0b4c98;
  border: 1px solid #0b4c98;
  color: #ffffff;
}

.feather {
  margin-right: 10px;
}

.user-avtar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d4e2f3;
  cursor: pointer;
}

.btn-add {
  color: #5aa2f0;
}

.btn-highlight {
  color: #E9922C;
}

.btn-red {
  color: #ED0F0F;
}

.btn-green {
  color: #05C953;
}

.btn-blue {
  color: #5aa2f0;
}

.btn-group.btn-icons .btn-icon {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 5px;
}

.btn--align-right {
  transform: translateX(-100%);
  left: 100%;
  position: relative;
}

.custom-btn-group {
  text-align: right;
}
.custom-btn-group .btn + .btn {
  margin-left: 15px;
}

.border--highlight {
  border: 1px solid #E9922C;
}

.border--dark-blue {
  border: 1px solid #0E64C8;
}

.border--pink {
  border: 1px solid #D72F73;
}

.border--green {
  border: 1px solid #A1D72F;
}

.border--red {
  border: 1px solid #D72F2F;
}

.border--primary {
  border: 1px solid #5aa2f0;
}

.section-content {
  position: relative;
  z-index: 1;
}
.section-content .section__small-title {
  color: #E9922C;
  font-family: "Dosis-Bold";
  text-transform: capitalize;
  font-size: 14px;
}
.section-content .section__title {
  font-family: "Dosis-Bold";
  color: #0E64C8;
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.section-content .section__text {
  max-width: 550px;
  font-size: 18px;
  margin: 10px auto 20px;
}
.section-content .section__border {
  position: relative;
}
.section-content .section__border img {
  width: 15px;
}
.section-content .section__border:before, .section-content .section__border:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-color: #E9922C;
  width: 80px;
  height: 1px;
}

.section-roll {
  padding: 82px 0;
  min-height: 100vh;
  position: relative;
}
.section-roll:nth-child(odd) {
  background-color: rgba(212, 226, 243, 0.3);
}

.vertical-content {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 100%;
}

.back_top {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #E9922C;
  color: #ffffff;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 85px;
  right: 15px;
  z-index: 1;
}
.back_top img {
  width: 25px;
}

@media only screen and (max-width: 768px) {
  button {
    min-width: 80px;
  }

  .section-content .section__text {
    font-size: 16px;
  }

  .back_top {
    bottom: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
