@import "_custom-tooltip.scss";
@import "_fonts.scss";
@import "_footer.scss";
@import "_form.scss";
@import "_mixins.scss";
@import "_static.scss";
@import "_variables.scss";

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: $--font-regular;

  &.home {
    background-color: $--color-primary;
  }
}

.site-content {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

a {
  cursor: pointer;
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}


button {
  font-family: $--font-semi-bold;
  min-width: 125px;
  padding: 4px 8px;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    color: inherit;
  }

  &:focus {
    outline: none;
  }

  &.btn {
    &:focus {
      box-shadow: none;
    }
  }

  &.btn-icon {
    min-width: auto;
    border: none;
    background: transparent;

    .feather {
      margin-right: 0px;
    }
  }
}

.btn-primary {
  background-color: $--btn-primary;
  border: 1px solid $--btn-primary;
  color: $--color-white;

  &:hover {
    background-color: darken($--btn-primary, 10%);
    border: 1px solid darken($--btn-primary, 10%);
  }
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid $--btn-primary;
  color: $--color-primary;

  &:hover {
    background-color: darken($--btn-primary, 10%);
    border: 1px solid darken($--btn-primary, 10%);
  }
}

.btn-orange {
  background-color: $--btn-orange;
  border: 1px solid $--btn-orange;
  color: $--color-white;

  &:hover {
    background-color: darken($--btn-orange, 10%);
    border: 1px solid darken($--btn-orange, 10%);
    color: $--color-white;
  }
}

.btn-success {
  background-color: $--btn-success;
  border: 1px solid $--btn-success;
  color: $--color-white;

  &:hover {
    background-color: darken($--btn-success, 10%);
    border: 1px solid darken($--btn-success, 10%);
    color: $--color-white;
  }
}

.btn-danger {
  background-color: $--btn-danger;
  border: 1px solid $--btn-danger;
  color: $--color-white;

  &:hover {
    background-color: darken($--btn-danger, 10%);
    border: 1px solid darken($--btn-danger, 10%);
    color: $--color-white;
  }
}

.btn-dark-primary {
  background-color: $--btn-dark-primary;
  border: 1px solid $--btn-dark-primary;
  color: $--color-white;

  &:hover {
    background-color: darken($--btn-dark-primary, 10%);
    border: 1px solid darken($--btn-dark-primary, 10%);
    color: $--color-white;
  }
}

.feather {
  margin-right: 10px;
}

.user-avtar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $--color-secondary;
  cursor: pointer;
}

.btn-add {
  color: $--color-primary;
}

.btn-highlight {
  color: $--color-highlight;
}

.btn-red {
  color: $--color-danger;
}

.btn-green {
  color: $--color-success;
}

.btn-blue {
  color: $--color-primary;
}

.btn-group {
  &.btn-icons {
    .btn-icon {
      @include flexbox();
      @include align-items(center);
      padding: 5px;
    }
  }
}

.site-content {
  background-color: $--color-primary;
}

.btn--align-right {
  transform: translateX(-100%);
  left: 100%;
  position: relative;
}

.custom-btn-group {
  text-align: right;

  .btn {
    &+.btn {
      margin-left: 15px;
    }
  }
}

.border--highlight {
  border: 1px solid $--color-highlight;
}

.border--dark-blue {
  border: 1px solid #0E64C8;
}

.border--pink {
  border: 1px solid #D72F73;
}

.border--green {
  border: 1px solid #A1D72F;
}

.border--red {
  border: 1px solid #D72F2F;
}

.border--primary {
  border: 1px solid $--color-primary;
}

.section-content {
  // padding: 40px 0;

  .section {
    &__title {
      font-family: $--font-bold;
      color: $--color-darker-primary;
      font-size: 28px;
      letter-spacing: 1px;
      text-transform: capitalize;
    }

    &__text {
      max-width: 550px;
      margin: 20px auto;
    }
  }
}

.section-roll {
  padding: 82px 0;
  min-height: 100vh;

  &:nth-child(even) {
    background-color: rgba($--color-secondary, 0.3);
  }
}

.vertical-content {
  @include align-items(center);
  height: 100%;
}

@media only screen and (max-width: 768px) {
  button {
    min-width: 80px;
  }
}