@import "_mixins.scss";
@import "_variables.scss";

.footer-bg {
  position: relative;
  background-color: $--color-primary;
  background-color: darken($--color-darker-primary, 20%);
  // color: lighten($--color-primary, 20%);
  color: $--color-secondary;
  font-size: 18px;

  &:before {
    content: "";
    background-color: rgba($--color-black, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .footer {
    &__img {
      width: 180px;
      margin: 0 auto;
    }

    &__bar {

      .bar-wrap,
      .terms-service {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        text-transform: capitalize;
      }

      .terms-service {
        li+li {
          margin-left: 20px;
        }

        a {
          display: block;
          padding: 5px 0;
        }
      }
    }
  }
}