.static-info {
  font-size: 18px;

  ul,
  ol,
  p {
    margin-bottom: 10px;
    line-height: 1.4;
  }

  ul {
    padding-inline-start: 40px;
    list-style: disc;
  }

  li {
    margin-bottom: 15px;
  }

  a {
    font-family: $--font-semi-bold;
    color: $--color-highlight;
  }

  .title {
    font-family: $--font-bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .custom-list {
    list-style: none;
    padding-inline-start: 0px;

    li {
      position: relative;
      padding-inline-start: 40px;
    }

    .feather {
      position: absolute;
      top: 4px;
      left: 0;
      width: 18px;
      height: 18px;
      color: $--color-primary;
    }
  }
}

@media only screen and (max-width: 768px) {
  .static-info {
    font-size: 16px;
  }
}